
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #1C1B1B;
  background-image: url('./images/background.png'); /* Reverting back to your original path */
  background-size: contain; /* Reset to 'contain' to show the full image as before */
  background-repeat: no-repeat;
  background-position: center; /* Centered as per your original style */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Hide overflow to prevent scrolling */
}

/* Logo component*/

.logo {
  position: absolute; /* Absolute positioning with respect to the nearest positioned ancestor */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 194px; /* Set the width */
  height: auto; /* Keep the original aspect ratio */
  z-index: 2;
}

/* If you still need the .logobox class for some reason */
.logobox {
  position: fixed; /* Fixed or absolute, depending on whether you want it to scroll with the page */
  top: 10px;
  left: 10px ;
  width: 100%; /* Full width to use the entire top as a header bar if that's your design */
  height: 200px; /* Fixed height */
  background: transparent; /* Ensures the background is transparent */
  z-index: 1000; /* Ensures the logo box is above other elements */
}

/*AddSongForm component*/

.add-song-form {
  position: fixed; /* or absolute, depending on how you want to position it */
  right: 50px; /* adjust as necessary for your layout */
  top: 150px; /* adjust as necessary for your layout */
  height: 428px;
  width: 291px; /* adjust width as per your design */
  background: transparent; /* Fully transparent background */
  border: 1px solid #11FF46; /* white border, adjust as needed */
  padding: 20px; /* adds space inside the form, adjust as needed */
  border-radius: 10px; /* rounded corners, adjust as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* optional shadow for depth */
  z-index: 10; /* ensure it's above other elements */
  color: #ffffff; /* text color, assuming you want it white */
  font-size: 16px; /* adjust as needed */
}

.add-song-form label {
  display: block; /* ensures the label is on its own line */
  margin-bottom: 20px; /* space between label and input */
  color: #fff; /* text color for the label */
  margin-top: 18px;
}

.add-song-form input[type="text"],
.add-song-form input[type="file"] {
  width: 80%; /* full width */
  padding: 8px; /* padding inside the input */
  margin-bottom: 30px; /* space after the input */
  border-radius: 4px; /* rounded borders for the input fields */
  border: 1px solid #ffffff; /* border color */
  background: rgba(255, 255, 255, 0.1); /* slightly translucent inputs */
  color: #fff; /* input text color */
}

.uploadSongButton {
  margin-left: 30%;
  margin-top: -20%;
}

/*SearchBar Component */

/* You may need to adjust other styles for alignment, size, etc., based on your specific layout */


.addSong{
  margin-top: 0px;
}

/* song and songlist components */
.song-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.song-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.song-list {
  position: fixed; /* Keeps the song list fixed in place */
  top: 185px; /* Adjust this to position the list below your logo and other fixed elements */
  left: 20px; /* Adjust as needed, provides a gap from the left side */
  width: 50%; /* Adjust the width as per your preference */
  max-height: calc(100vh - 220px); /* Adjust based on top position and any additional space needed at the bottom */
  overflow-y: auto; /* Adds scrollbar when content overflows */
  z-index: 1; /* Ensures the song list is above the background but below other fixed elements */
  /* Other styling remains the same */
}

.song-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px; /* Reduced padding for a tighter container */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: #fff;
  box-shadow: 3px 3px 4px #353535;
  margin-top: 2%; /* Reduced margin-top for less space between containers */
  margin-bottom: 2%; /* Optional: if you want to add space at the bottom */
  font-size: 0.9em; /* Optional: adjust font size for content within the container */
}

.song-details h3, .song-details p {
  margin: 0;
  padding: 2px 0; /* Reduced padding for a tighter layout */
}

.play-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px; /* Adjusted font size for play button */
  cursor: pointer;
}


.play-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.song-container.playing {
  border: 3px solid #11FF46; /* Adjust the shadow size and spread as needed */
}

.play-pause-button {
  background-color: rgb(11, 188, 188) ;
}

.volume-slider {
  width: 80px; /* Adjust as needed */
  height: 5px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
}

/* Styles for WebKit/Blink */
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.volume-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #ddd;
  border-radius: 5px;
}

/* Styles for Firefox */
.volume-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.volume-slider::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #ddd;
  border-radius: 5px;
}

/* Styles for IE */
.volume-slider::-ms-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.volume-slider::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.volume-slider {
  width: 100px; /* Adjust as needed */
  margin-top: 10px;
  /* rest of the slider styling */
}

.bitcoinAd{
  width: 470px;
  height: 330px;
  margin-left: 750px;
  margin-top: 200px;
  opacity: 0.2;
}

.bitcoinAd:hover {
  opacity: 1.0;
}

.download-button {
  background-color: #4CAF50; /* Green background */
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

/* Styles for the volume slider */



.volume-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 10%; /* Adjust width as needed */
  height: 2px; /* Thinner track */
  background: #999; /* Track color */
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  margin-bottom: 10px;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px; /* Smaller thumb */
  height: 15px; /* Smaller thumb */
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

.volume-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

/* Styles for the progress bar */
.progress-bar {
  -webkit-appearance: none;
  appearance: none;
  width: 10%;
  height: 2px; /* Thinner track */
  background: #999;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

.progress-bar::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
  border-radius: 50%;
}

/* Additional Styles for the audio control labels */
.audio-controls label {
  display: block;
  margin-bottom: 5px;
  color: #fff; /* Adjust text color as needed */
  font-size: 14px; /* Adjust font size as needed */
}

.audio-controls-sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white; /* or any color that fits your design */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000; /* Ensure it stays on top */
}




.searchBar {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px; /* Adjusted from 30px to 10px */
  border-radius: 25px;
  border: none;
  outline: none;
  width: 300px; /* Adjusted to a fixed width */
  box-sizing: border-box;
  background-color: #121212;
  color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  position: fixed; /* Ensure the search bar is fixed */
  top: 20px; /* Position from the top */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center based on its own width */
  z-index: 1001; /* Higher than .logobox to ensure it's clickable */
}

.searchBar::placeholder {
  color: #ccc;
}

.searchBar:focus {
  background-color: #000;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
